<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TblUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.TblUserInfo">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="login_id" jdbcType="VARCHAR" property="loginId" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="data_status" jdbcType="VARCHAR" property="dataStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, password, login_id, telephone, data_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.TblUserInfo">
    insert into tbl_user_info (user_id, user_name, password, 
      login_id, telephone, data_status
      )
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, md5(#{password,jdbcType=VARCHAR}),
      #{loginId,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{dataStatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.TblUserInfo">
    insert into tbl_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="loginId != null">
        login_id,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="dataStatus != null">
        data_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null">
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="dataStatus != null">
        #{dataStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.TblUserInfo">
    update tbl_user_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = md5(#{password,jdbcType=VARCHAR}),
      </if>
      <if test="loginId != null">
        login_id = #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="dataStatus != null">
        data_status = #{dataStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.TblUserInfo">
    update tbl_user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      password = md5(#{password,jdbcType=VARCHAR}),
      login_id = #{loginId,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      data_status = #{dataStatus,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <select id="queryUserList" parameterType="com.example.demo.model.TblUserInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_user_info
    where 1=1
    <if test="userName != null">
      and user_name = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="password != null">
      and password = md5(#{password,jdbcType=VARCHAR})
    </if>
    <if test="loginId != null">
      and login_id = #{loginId,jdbcType=VARCHAR}
    </if>
    <if test="telephone != null">
      and telephone = #{telephone,jdbcType=VARCHAR}
    </if>
    <if test="dataStatus != null">
      and data_status = #{dataStatus,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="queryByLoginId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_user_info
    where login_id = #{loginId,jdbcType=VARCHAR}
  </select>
</mapper>